.header {
    position: relative;
    padding-left: 12px;
}
.header:before {
    position: absolute;
    content: '';
    bottom: -5px;
    left: 0;
    width: 0;
    height: 0;
    border: none;
    border-left: solid 5px transparent;
    border-bottom: solid 5px rgb(0, 0, 0);
}
.header:after {
    position: absolute;
    content: '';
    bottom: -5px;
    left: 0;
    width: 100%;
    border-bottom: solid 1px rgb(0, 0, 0);
}

.step{
    border-radius: 4px;
    margin-bottom:24px;
    padding:0 12px 12px;
    opacity:0.4;
}

.step.active{
    opacity:1;
    /* color:white;
    background-color: #666a99; */
}

.modal-content {
    padding:1rem 1.5rem;
    height:auto;
}

.modal-dialog .carousel-inner {
    height:auto;
}

.fade {
    transition: opacity .3s;
}

.modal span.header:after {
    width:120%;
}

#formbuilder-1j {
    display: none;
    animation-duration: .5s;
    /* animation-delay: .5s; */
}

#extGallery2-1l {
    animation-duration: .5s;
    /* animation-delay: .5s; */
}

.form-control {
    letter-spacing: 2px;
    font-size: 13px;
    height: 33px;
    border: 1px solid #ccc !important;
    border-radius: 2px;
    transition: all 0.4s ease-in-out 0s;
    box-shadow: none !important;
    padding:0 1rem;
    min-height: 0;
}

.input-group-text {
    letter-spacing: 2px;
    font-size: 13px;
    height: 33px;
    border: 1px solid #ccc !important;
    border-radius: 2px;
    transition: all 0.4s ease-in-out 0s;
    box-shadow: none !important;
    padding:0 0.75rem;
    min-height: 0;
}

.modal-body {
    padding:0;
}

#extGallery8-1o {
    padding:0;
}

.mbr-gallery-filter, .cid-rNWMpOg0Us .mbr-gallery-filter {
    padding-bottom: 0;
}

.input-group {
    opacity: .6;
}

.input-group.active {
    opacity: 1;
}

#chart-section {
    /* display: none; */
    animation-duration: 2s;
}

.nav-tabs {
    border-bottom: 1px solid #ccc;
}

.nav-tabs .nav-link.active{
    border-color: #ccc;
    border-bottom-color:transparent;
}


